<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório Financeiro</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header id="cabecalho">
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('relatorio') }}">Gerar</a>
        <a href="{{ url_for('comparar') }}">Comparar</a>
        <a href="{{ url_for('encontrar') }}">Encontrar</a>
    </header>
    <div class="conteudo">
        <div id="div_encontrar" class="container centralizar">
            <a id="btn_encontrar" class="encontrar" href="{{ url_for('encontrar_acoes') }}">
                <h2>Verificar as melhores ações no momento</h2>
            </a>
            <div id="spinner" style="display: none;"> <!-- Spinner aqui --> </div>
            <div id="mensagem" style="display: none; color: black;">Em torno de 1 minuto seu relatório estará completo!</div>
        </div>
    </div>
    
    <footer class="centralizar">
        <h3>Contato</h3><br>
        <div style="display: flex; flex-direction: row;gap: 5dvw;">
            <h4>Endereço: Rua Exemplo, 123, Cidade, País</h4>
            <h4>Telefone: +55 (XX) XXXX-XXXX</h4>
            <h4>Email: contato@empresa.com</h4>
        </div>
    </footer>
        
<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('btn_encontrar').addEventListener('click', function(event) {
            // Exibe o spinner e a mensagem
            document.getElementById('spinner').style.display = 'block';
            document.getElementById('mensagem').style.display = 'block';

            // Permite que o link continue sua navegação normalmente após exibir a mensagem
        });
    });
</script>
</body>
</html>
