<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encontrar Ações</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header id="cabecalho">
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('relatorio') }}">Gerar</a>
        <a href="{{ url_for('comparar') }}">Comparar</a>
        <a href="{{ url_for('encontrar') }}">Encontrar</a>
    </header>
    
    <div id="conteudo" style="color:black">
        <h1>Relatório Gerado</h1>

        <div class="conteudo centralizar">
            <p id="relatorio-texto" style="margin-left: 3dvw; margin-right: 3dvw;font-weight: 500;">{{ encontrado }}</p>
        </div>

        
    </div>
    <footer class="centralizar">
        <h3>Contato</h3><br>
        <div style="display: flex; flex-direction: row;gap: 5dvw;">
            <h4>Endereço: Rua Exemplo, 123, Cidade, País</h4>
            <h4>Telefone: +55 (XX) XXXX-XXXX</h4>
            <h4>Email: contato@empresa.com</h4>
        </div>
    </footer>
    
</body>
<script>
    document.addEventListener("DOMContentLoaded", function() {
    // Função para formatar o relatório
    function formatRelatorio() {
        var relatorioElement = document.getElementById('relatorio-texto');
        var relatorioHTML = relatorioElement.innerHTML;
        
        // Substituir "**" por quebras de linha
        relatorioHTML = relatorioHTML.replace(/\*/g, '<br>');

        relatorioHTML = relatorioHTML.replace(/\*/g, '<br>');

        relatorioHTML = relatorioHTML.replace(/\#/g, '<br>');

        relatorioHTML = relatorioHTML.replace(/(Curto Prazo:|Médio Prazo:|Longo Prazo:)/g, '<span style="font-weight:600">$1</span>');

        // Adicionar classe 'subtitulo' aos títulos
        relatorioHTML = relatorioHTML.replace(/(Impacto das Notícias no Mercado|Recomendações Personalizadas por Perfil de Investimento|Previsões de Mercado|Análise Comparativa)/g, '<div style="background-color:#63adfd;color:white; width:100%; text-align:center; border-radius:25px;"><span class="subtitulo">$1</span></div>');
        
        // Atualizar o conteúdo do parágrafo
        relatorioElement.innerHTML = relatorioHTML;
    }

    // Chamar a função para formatar o relatório
    formatRelatorio();
    });
</script>
</html>
