<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório Financeiro</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header id="cabecalho">
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('relatorio') }}">Gerar</a>
        <a href="{{ url_for('comparar') }}">Comparar</a>
        <a href="{{ url_for('encontrar') }}">Encontrar</a>
    </header>
    <div id="conteudo" style="color:black">
        <div class="container centralizar">
            <h1>Geração de relatório</h1>
            <form action="{{ url_for('relatorio') }}" method="post">
                <label for="ticker">Digite o Ticker da Ação:</label>
                <input type="text" id="ticker" name="ticker" required>
                <button type="submit">Gerar Relatório</button>
            </form>
        </div>
    </div>
    <footer class="centralizar">
        <h3>Contato</h3><br>
        <div style="display: flex; flex-direction: row;gap: 5dvw;">
            <h4>Endereço: Rua Exemplo, 123, Cidade, País</h4>
            <h4>Telefone: +55 (XX) XXXX-XXXX</h4>
            <h4>Email: contato@empresa.com</h4>
        </div>
    </footer>

</body>
</html>